@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    /* Card Number One */
    .card-one {
        top: 21.125rem;
        left: 25%;
    }

    .card-one.active {
        transform: rotate(-30deg) translateY(-5.375rem);
    }

    /* Card Number Two */
    .card-two {
        top: 21.125rem;
        left: 32%;
    }

    .card-two.active {
        transform: rotate(-15deg) translateY(-5.375rem);
    }

    /* Card Number Three */
    .card-three {
        top: 23rem;
        left: 37%;
    }

    .card-three.active {
        transform: rotate(0deg) translateY(-5.375rem);
    }

    /* Card Number Four */
    .card-four {
        top: 25.5rem;
        left: 42%;
    }

    .card-four.active {
        transform: rotate(15deg) translateY(-5.75rem);
    }

    /* Card Number Five */
    .card-five {
        top: 28rem;
        left: 47%;
    }

    .card-five.active {
        transform: rotate(30deg) translateY(-5.75rem);
    }
}