/* Hi Heading */
.text-preset-1 {
    font-family: var(--ff-2);
    font-size: var(--fs-4);
    font-weight: var(--fw-2);
    text-align: center;
    color: var(--tc-5);
}

/* Hi Paragraphs */
.text-preset-2 {
    font-family: var(--ff-2);
    font-size: var(--fs-3);
    font-weight: var(--fw-1);
    color: var(--tc-5);
    text-align: center;
}

/* Why Titles */
.text-preset-2-bold {
    font-family: var(--ff-2);
    font-size: var(--fs-3);
    font-weight: var(--fw-2);
    color: var(--tc-2);
    text-align: center;
}

/* Navigation */
.text-preset-3 {
    font-family: var(--ff-1);
    font-size: var(--fs-0);
    font-weight: var(--fw-1);
    color: var(--tc-1);
}

/* Work Title */
.text-preset-4-bold {
    font-family: var(--ff-2);
    font-size: var(--fs-2);
    font-weight: var(--fw-3);
    color: var(--tc-2);
    text-align: center;
}

/* Work Description */
.text-preset-4 {
    font-family: var(--ff-2);
    font-size: var(--fs-2);
    font-weight: var(--fw-1);
    color: var(--tc-5);
    text-align: center;
}

/* Card Titles */
.text-preset-5 {
    font-family: var(--ff-1);
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
    color: var(--tc-1);
    text-align: center;
}

/* Page Titles */
.text-preset-6 {
    font-family: var(--ff-2);
    font-size: var(--fs-4);
    font-weight: var(--fw-2);
    color: var(--tc-5);
    text-align: center;
}

/* Medium Screen Size */
@media only screen and (min-width: 711px) and (max-width: 1024px) {

    /* Hi Heading */
    .text-preset-1 {
        font-size: calc(var(--fs-4) + .5rem);
    }

    /* Navigation */
    .text-preset-3 {
        font-size: var(--fs-2);
    }
}

/* Medium-Small Screen Size */
@media only screen and (max-width: 710px) {

    /* Hi Heading */
    .text-preset-1 {
        font-size: calc(var(--fs-4) - .5rem);
        text-align: center;
    }

    /* Hi Paragraphs */
    .text-preset-2 {
        font-size: var(--fs-3);
        color: var(--tc-5);
        text-align: center;
    }

    /* Why Titles */
    .text-preset-2-bold {
        text-align: center;
    }

    /* Page Titles */
    .text-preset-6 {
        font-family: var(--ff-2);
        font-size: calc(var(--fs-4) - .9rem);
        text-align: center;
    }
}