/* Hi Heading */
.text-preset-1 {
    font-family: var(--ff-1);
    font-size: var(--fs-4);
    font-weight: var(--fw-2);
    text-align: center;
    color: var(--tc-5);
}

/* Hi Paragraphs */
.text-preset-2 {
    font-family: var(--ff-1);
    font-size: var(--fs-3);
    font-weight: var(--fw-1);
    color: var(--tc-5);
    text-align: center;
}

/* Why Titles */
.text-preset-2-bold {
    font-family: var(--ff-1);
    font-size: var(--fs-3);
    font-weight: var(--fw-2);
    color: var(--tc-2);
    text-align: center;
}

/* Navigation */
.text-preset-3 {
    font-family: var(--ff-1);
    font-size: var(--fs-0);
    font-weight: var(--fw-1);
    color: var(--tc-1);
}

/* Work Title */
.text-preset-4-bold {
    font-family: var(--ff-1);
    font-size: var(--fs-2);
    font-weight: var(--fw-3);
    color: var(--tc-2);
    text-align: center;
}

/* Work Description */
.text-preset-4 {
    font-family: var(--ff-1);
    font-size: var(--fs-2);
    font-weight: var(--fw-1);
    color: var(--tc-5);
    text-align: center;
}

/* Card Titles */
.text-preset-5 {
    font-family: var(--ff-1);
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
    color: var(--tc-1);
    text-align: center;
}

/* Page Titles */
.text-preset-6 {
    font-family: var(--ff-1);
    font-size: var(--fs-4);
    font-weight: var(--fw-2);
    color: var(--tc-5);
    text-align: center;
}

@media only screen and (max-width: 426px) {

    /* Hi Heading */
    .text-preset-1 {
        font-family: var(--ff-1);
        font-size: calc(var(--fs-4) - 1rem);
        font-weight: var(--fw-2);
        text-align: center;
        word-spacing: -.7rem;
        letter-spacing: -.01rem;
        color: var(--tc-5);
    }

    /* Hi Paragraphs */
    .text-preset-2 {
        font-family: var(--ff-1);
        font-size: calc(var(--fs-3) - .25rem);
        font-weight: var(--fw-1);
        color: var(--tc-5);
        text-align: center;
    }

    /* Why Titles */
    .text-preset-2-bold {
        font-family: var(--ff-1);
        font-size: calc(var(--fs-3) - .1rem);
        font-weight: var(--fw-2);
        color: var(--tc-2);
        text-align: center;
    }

    /* Page Titles */
    .text-preset-6 {
        font-family: var(--ff-1);
        font-size: calc(var(--fs-4) - 1rem);
        font-weight: var(--fw-2);
        color: var(--tc-5);
        text-align: center;
    }
}