/* Hi Heading */
.text-preset-1 {
    font-family: var(--ff-1);
    font-size: var(--fs-4);
    font-weight: var(--fw-1);
    text-align: center;
    color: var(--tc-2);
    line-height: 80px;
    letter-spacing: .3rem;
}

/* Hi Paragraphs */
.text-preset-2 {
    font-family: var(--ff-2);
    font-size: var(--fs-3);
    font-weight: var(--fw-1);
    color: var(--tc-5);
    text-align: center;
}

/* Navigation */
.text-preset-3 {
    font-family: var(--ff-2);
    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    color: var(--tc-1);
    letter-spacing: 5%;
}

/* Work Title */
.text-preset-4-bold {
    font-family: var(--ff-2);
    font-size: var(--fs-2);
    font-weight: var(--fw-3);
    color: var(--tc-2);
    text-align: center;
}

/* Work Description */
.text-preset-4 {
    font-family: var(--ff-2);
    font-size: var(--fs-2);
    font-weight: var(--fw-1);
    color: var(--tc-5);
    text-align: center;
}

/* Card Titles */
.text-preset-5 {
    font-family: var(--ff-2);
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
    color: var(--tc-1);
    text-align: center;
}

/* Highlight */
.highlight {
    font-weight: var(--fw-2);
}

/* Container */
.container {
    width: 80rem;
    height: 50rem;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}