@media only screen and (max-width: 1280px) {
   .container {
      width: 95%;
   }
}

@media only screen and (max-width: 1024px) {
   #nav-container {
      width: 2.8rem;
      aspect-ratio: 1/1;
      right: 1rem;

      transition: all 0.3s ease;
   }

   #nav-container.active {
      width: 7rem;
      height: auto;
   }

   #nav-as-wrap {
      cursor: pointer;
      transition: all 0.3s ease;

      width: 100%;
      height: 100%;
      padding: 0;
   }

   #nav-as {
      opacity: 0;
      transition: all 0.3s ease;
      visibility: hidden;
      display: none;

      width: 100%;
      margin: 0;
      gap: 2rem 0;

      flex-direction: column;
   }

   #nav-as-wrap.active {
      border-radius: var(--brd-r);

      min-height: fit-content;
   }

   #nav-as-wrap.active #nav-as {
      opacity: 1;
      visibility: visible;

      padding: 1.5rem;

      display: flex;
      pointer-events: all;
   }

   #nav-as a {
      pointer-events: none;
   }

   #nav-as-wrap.active #nav-as a {
      pointer-events: all;
   }

   /* Disable laptop navigation effects */
   #nav-as a:hover:after {
      width: 0;
   }

   .hover-underline:after {
      display: none;
   }

   /* Landing page */
   #landing-page {
      margin-top: 1rem;
   }
}

/* Tablet Screen */
@media only screen and (min-width: 710px) and (max-width: 1024px) {
   .container {
      width: 95%;
   }

   .page-title {
      align-self: center;
   }

   /* Top Navigation */
   #nav-as {
      margin: 0.15rem 1.5rem;
   }

   .click {
      transition: transform var(--link-duration) ease-out;
   }

   .scale {
      transform: scale(0.9);
   }

   /* Landing Page */
   #intro-container {
      flex-direction: column;
   }

   #intro-text {
      width: 80%;
   }

   #my-frame {
      margin-top: 3rem;

      width: 26.125rem;
      height: 26.75rem;
   }

   /* Skills Page */
   #skills-page {
      height: fit-content;
   }
}

/* Medium-Small Screen Size */
@media only screen and (max-width: 710px) {
   body {
      padding-bottom: 0;
   }

   .container {
      width: 92%;
   }

   .page-title-m {
      display: block;
   }

   .page-title {
      display: none;
   }

   /* Landing Page */
   #intro-container {
      flex-direction: column-reverse;
   }

   #intro-text {
      width: 100%;
   }

   #intro-text > p {
      text-align: center;
   }

   #my-frame {
      width: 13.125rem;
      height: 13.75rem;
   }

   #my-frame img {
      top: -1.6rem;
   }

   #intro-text > p {
      padding: 1rem 0;
   }

   /* Work Page */
   #work-page {
      flex-direction: column;
   }

   #work-page > p:nth-child(1) {
      margin-bottom: -1.1rem;
   }

   #works-wrap {
      width: 100%;

      display: flex;
      overflow-x: auto;

      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      scrollbar-width: none;
      -ms-overflow-style: none;
      -webkit-overflow-scrolling: touch;
   }

   #works-wrap::-webkit-scrollbar {
      display: none;
   }

   .work {
      flex: 0 0 100%;
      scroll-snap-align: center;
      max-width: 23rem;
   }

   #first-work {
      margin-left: 10rem;
   }

   #last-work {
      margin-right: 10rem;
   }

   /* Skills Page */
   #skills-page {
      flex-direction: column;
   }

   /* Why Me Page */
   #why-page .page-title-m {
      font-size: 2.8rem;
   }

   #why-hero p {
      text-align: center;
   }

   .why-text > p:nth-child(1) {
      height: fit-content;
   }

   /* Footer */
   .bicon-text {
      display: none;
   }

   #finfo-wrapper {
      display: flex;
      flex-direction: column;
   }

   #finfo-text {
      color: var(--tc-2);
      text-align: center;
   }

   #bdot {
      display: none;
   }
}

@media only screen and (max-width: 558px) {
   .card {
      flex: 1 1 0;
   }
}
