/* Remaining */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .container {
        width: 95%;
    }

    /* Work Page */
    #works-wrap {
        grid-template-columns: 23rem 23rem;

        gap: 3rem 7rem;
    }
}

/* Tablet Screen */
@media only screen and (min-width: 710px) and (max-width: 1024px) {
    .container {
        width: 95%;
    }

    .page-title {
        align-self: center;
    }

    #nav-as {
        gap: 0 3rem;
        padding: .2rem 0;
    }

    #nav-as a:hover:after {
        width: 0;
    }

    /* Landing Page */
    #landing-page {
        margin-top: 4rem;
    }

    #intro-container {
        flex-direction: column;
    }

    #intro-text {
        width: 100%;
    }

    #my-frame {
        margin-top: 3rem;
    }

    /* Works Page */
    #work-page {
        padding-top: 4rem;
    }

    #works-wrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem 4rem;
    }

    .work {
        width: 100%;
    }

    .work-desc {
        width: 100%;
    }

    .work-images {
        width: 100%;
    }

    /* Skills Page */
    #skills-page {
        height: fit-content;
        padding-top: 4rem;
    }

    #cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem 3rem;
    }

    .card-one {
        grid-area: 1 / 1 / 2 / 3;
    }

    .card-two {
        grid-area: 1 / 3 / 2 / 5;
    }

    .card-three {
        grid-area: 2 / 1 / 3 / 3;
    }

    .card-four {
        grid-area: 2 / 3 / 3 / 5;
    }

    .card-five {
        grid-area: 3 / 2 / 4 / 4;
    }

    /* Why Page */
    #why-page {
        margin-top: 7rem;
    }

    #why-hero p:nth-child(2) {
        text-align: center;
    }

    /* Different Page */
    #different-page {
        margin-top: 7rem;
    }

    #why-grid {
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .why-text {
        height: fit-content;

        display: flex;
        flex-direction: column;
        position: relative;
    }

    #why-grid .why-text .different-p-title {
        text-align: center;
    }

    #why-grid .why-text p:nth-child(2) {
        text-align: center;

        align-self: center;
    }

    #different-p-one {
        grid-area: 1 / 1 / 2 / 3;
    }

    #different-p-two {
        grid-area: 1 / 3 / 2 / 5;
    }

    #different-p-three {
        grid-area: 2 / 1 / 3 / 3;
    }

    #different-p-four {
        grid-area: 2 / 3 / 3 / 5;
    }

    footer {
        margin-top: 4rem;
    }
}

/* Medium-Small Screen Size */
@media only screen and (max-width: 710px) {
    .page {
        margin-top: 0rem;
    }

    #nav-as a:hover:after {
        width: 0rem;
    }

    #nav-as a:active {
        background-color: transparent;
        color: var(--tc-5);
    }

    body {
        padding-bottom: 0;
    }

    .container {
        width: 92%;
    }

    .page-title-m {
        display: block;
        margin-bottom: 1rem;
    }

    .page-title {
        display: none;
    }

    .click {
        transition: transform 0.4s ease-out;
    }

    .scale {
        transform: scale(0.9);
    }

    /* Top Navigation */
    #nav-as-wrap {
        margin-top: .5rem;
    }

    /* Landing Page */
    #landing-page {
        margin-top: 5rem;
    }

    #intro-container {
        flex-direction: column-reverse;
    }

    #intro-text {
        width: 100%;
    }

    #intro-text p {
        text-align: center;
    }

    #dots {
        display: none;
    }

    #my-frame {
        width: 290px;
        height: 297px;
    }

    #intro-text>p {
        padding: 1rem 0;
    }

    /* Work Page */
    #work-page {
        flex-direction: column;

        padding-top: 3.8rem;
    }

    #work-page>p:nth-child(1) {
        margin-bottom: -1.1rem;
    }

    #works-wrap {
        width: 100%;
        margin-top: 1.7rem;

        display: flex;
        overflow-x: auto;

        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
    }

    #works-wrap::-webkit-scrollbar {
        display: none;
    }

    .work {
        flex: 0 0 100%;
        scroll-snap-align: center;
        width: calc(100% - 2rem);
        max-width: 23.75rem;
    }

    .work-desc {
        width: 100%;
    }

    #first-work {
        margin-left: 10rem;
    }

    #last-work {
        margin-right: 10rem;
    }

    .work-images {
        width: 100%;
    }

    /* Skills Page */
    #skills-page {
        flex-direction: column;

        height: fit-content;
        margin-top: 0rem;
        padding-top: 4rem;
    }

    #skills-page .container {
        width: 92%;
    }

    #cards {
        width: 90%;
        gap: 1.5rem;

        display: flex;
        flex-direction: column;
    }

    .card {
        width: 100%;
        height: fit-content;
    }

    .circular-progress {
        width: 4rem;
        height: 4rem;
    }

    /* Why Hire Me Page */
    #why-page {
        margin-top: 5rem;
    }

    #why-hero p {
        text-align: center;
    }

    /* Different Page */
    #why-grid {
        display: flex;
        flex-direction: column;
    }

    .why-text>p:nth-child(1) {
        text-align: center;

        height: fit-content;
        margin: 2rem 0 .1rem;
    }

    .why-text>p:nth-child(2) {
        text-align: center;

        height: fit-content;
    }

    #last-page {
        padding-bottom: 1.5rem;
    }

    #different-page {
        margin-bottom: 3rem;
    }

    /* Footer */
    footer {
        background-color: var(--bc-1);
        border: none;

        width: fit-content;
        height: fit-content;
        margin-bottom: .5rem;
    }

    #social-icons {
        gap: 0 3rem;
    }

    .bicon-text {
        display: none;
    }

    #finfo-text {
        color: var(--tc-2);
        text-align: center;
    }
}