/* Remaining */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .container {
        width: 95%;
    }

    /* Work Page */
    #works-wrap {
        grid-template-columns: 23rem 23rem;

        gap: 3rem 7rem;
    }
}

/* Tablet Screen */
@media only screen and (min-width: 710px) and (max-width: 1024px) {
    .container {
        width: 95%;
    }

    .page-title {
        align-self: center;
    }

    #nav-as {
        gap: 0 3rem;
        padding: .2rem 0;
    }

    /* Landing Page */
    #landing-page {
        margin-top: 4rem;
    }

    #intro-container {
        flex-direction: column;
    }

    #intro-text {
        width: 100%;
    }

    #my-frame {
        margin-top: 3rem;
    }

    /* Works Page */
    #work-page {
        padding-top: 4rem;
    }

    #works-wrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem 4rem;
    }

    .work {
        width: 100%;
    }

    .work-desc {
        width: 100%;
    }

    .work-images {
        width: 100%;
    }

    /* Skills Page */
    #skills-page {
        width: 100%;
        height: fit-content;
        padding-top: 4rem;
    }

    #skills-page .container {
        display: flex;
        gap: 2rem;
        height: fit-content;
    }

    #skills-page .card-one {
        margin-top: 8rem;
    }

    #skills-page .card .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card .card-content .card-title {
        margin-top: 0;

        display: flex;
    }

    #skills-page .card {
        transform: none;

        width: 85%;
        height: 8rem;

        position: static;
    }

    .card:not(.active):not(.extra-active) .card-content {
        filter: blur(0px);
    }

    .card.active .card-content {
        filter: blur(0px);
    }

    .card.extra-active .card-content {
        filter: blur(0);
    }

    .card:hover,
    .card.active,
    .card.extra-active {
        transform: none;
        box-shadow: none;
    }

    .card .card-title {

        width: 85%;
    }

    #skills-page>div {
        border-color: transparent;
    }

    .percent {
        position: absolute;
        right: 8%;
    }

    /* Why Page */
    #why-page {
        margin-top: 10rem;
    }

    #why-hero p:nth-child(2) {
        text-align: center;
    }

    /* Different Page */
    #why-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min-content;
        gap: 0 2rem;
    }

    .why-text>p:nth-child(1) {
        text-align: center;
    }

    .why-text>p:nth-child(2) {
        text-align: center;
    }
}

/* Medium-Small Screen Size */
@media only screen and (max-width: 710px) {
    .page {
        margin-top: 0rem;
    }

    #nav-as a:hover:after {
        width: 0rem;
    }

    #nav-as a:active {
        background-color: transparent;
        color: var(--tc-5);
    }


    body {
        padding-bottom: 0;
    }

    .container {
        width: 98%;
    }

    .page-title-m {
        display: block;
        margin-bottom: 1rem;
    }

    .page-title {
        display: none;
    }

    /* Top Navigation */
    #nav-as-wrap {
        margin-top: 2.5rem;
    }

    /* Landing Page */
    #landing-page {
        margin-top: 7rem;
    }

    #intro-container {
        flex-direction: column-reverse;
    }

    #intro-text {
        width: 100%;
    }

    #intro-text p {
        text-align: center;
    }

    #dots {
        display: none;
    }

    #my-frame {
        width: 290px;
        height: 297px;
    }

    #intro-text>p {
        padding: 1rem 0;
    }

    /* Work Page */
    #work-page {
        flex-direction: column;

        padding-top: 5rem;
    }

    #work-page>p:nth-child(1) {
        margin-bottom: -1.1rem;
    }

    #works-wrap {
        width: 100%;
        margin-top: 1.7rem;

        display: flex;
        overflow-x: auto;

        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
    }

    #works-wrap::-webkit-scrollbar {
        display: none;
    }

    .work {
        flex: 0 0 100%;
        scroll-snap-align: center;
        width: calc(100% - 2rem);
        max-width: 23.75rem;
    }

    .work-desc {
        width: 100%;
    }

    #first-work {
        margin-left: 10rem;
    }

    #last-work {
        margin-right: 10rem;
    }

    .work-images {
        width: 100%;
    }

    /* Skills Page */
    #skills-page {
        flex-direction: column;

        height: fit-content;
        margin-top: 0rem;
        padding-top: 5rem;
    }

    #skills-page .container {
        height: fit-content;
    }

    .card {
        transform: none;

        width: 85%;
        height: 6rem;
        margin: 1rem 0;

        position: static;
    }

    .card:not(.active):not(.extra-active) .card-content {
        filter: blur(0px);
    }

    .card.active .card-content {
        filter: blur(0px);
    }

    .card.extra-active .card-content {
        filter: blur(0);
    }

    .card:hover,
    .card.active,
    .card.extra-active {
        transform: none;
        box-shadow: none;
    }

    .card-title {
        width: 80%;

        position: relative;
    }

    .percent {
        position: absolute;
        right: 8%;
    }

    #skills-page>div {
        border-color: transparent;
    }

    /* Why Hire Me Page */
    #why-page {
        margin-top: 5rem;
    }

    #why-hero p {
        text-align: center;
    }

    /* Different Page */
    #why-grid {
        display: flex;
        flex-direction: column;
    }

    .why-text>p:nth-child(1) {
        text-align: center;

        height: fit-content;
        margin: 2rem 0 .1rem;
    }

    .why-text>p:nth-child(2) {
        text-align: center;

        height: fit-content;
    }

    /* Footer */
    footer {
        background-color: var(--bc-1);
        border: none;

        width: 99%;
        height: 7rem;
        margin-bottom: .1rem;
    }

    #social-icons {
        gap: 0 3rem;
    }

    #social-icons p {
        color: var(--tc-2);
    }
}