body {
    background-color: var(--bc-1);

    padding-bottom: .3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    /* border: solid 1px black; */
    width: 80rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.page {
    margin-top: 5rem;
}

.body-background {
    background-color: var(--bc-1);

    width: 100%;
    height: 100%;
}

.page-title {
    display: flex;
    align-self: start;
}

.page-title-m {
    display: none;
}

.highlight {
    font-weight: var(--fw-2);
}

#dots {
    display: show;
}

.gradient {
    background: linear-gradient(90deg, var(--tc-5), var(--tc-2), var(--tc-3));
    background-size: 300%;
    animation: gradient 2s cubic-bezier(0.4, 0, 1, 1) infinite;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Top Navigation */
#nav-container {
    width: 100%;

    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
}

#nav-as-wrap {
    background: rgba(255, 255, 255, 0.3);
    border: solid var(--brd-w) var(--brd-clr);
    border-radius: var(--brd-r);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);

    margin-top: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-as {
    gap: 1.5625rem;
    margin: 0.225rem 1.125rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-as a {
    text-decoration: none;

    position: relative;
}

#nav-as a:hover {
    color: var(--tc-1);
}

#nav-as a:after {
    background-color: var(--tc-1);
    content: "";
    transition: 0.3s;

    height: 0.0625rem;
    width: 0rem;

    position: absolute;
    left: 0;
    bottom: 0;
}

#nav-as a:hover:after {
    width: 100%;
}

/* Landing Page */
#landing-page {
    width: 100%;
    height: auto;

    justify-content: center;
    align-items: center;
    align-content: center;
}

#intro-container {
    width: fit-content;
    max-width: 100%;
    height: 100%;
    gap: 0 6.25rem;

    display: flex;
    align-items: center;
}

#intro-text {
    width: 32.5rem;
    gap: 0.625rem 0;

    display: flex;
    flex-direction: column;
}

#intro-ps {
    display: flex;
    flex-direction: column;
}

#my-frame {
    background-color: #A89D8C;
    border: solid var(--brd-w) var(--brd-clr);
    border-radius: calc(var(--brd-r) * 10);

    width: 28.125rem;
    height: 28.75rem;

    position: relative;
    overflow: hidden;
}

#my-frame img {
    position: absolute;
    left: 1.25rem;
    top: 1.25rem;
}

/* Works Page */
#work-page {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#works-wrap {
    margin-top: 1.5rem;
    gap: 2rem 3rem;

    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    top: 0;
}

.work {
    width: 23.75rem;
    height: fit-content;
    gap: 0.625rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

.work-images {
    background-color: var(--fbc);
    border: solid var(--brd-w) var(--brd-clr);
    border-radius: var(--brd-r);

    width: var(--wi-w);
    height: var(--wi-h);

    position: relative;
    overflow: hidden;
}

.work-images img {
    background-color: var(--fbc);
    border: solid var(--brd-w) var(--brd-clr);
}

.work-desc {
    border-radius: var(--brd-r);

    width: var(--wd-w);
    height: fit-content;
    padding: .5rem .5rem 0 .5rem;
    gap: 0.25rem 0;

    display: flex;
    flex-direction: column;
}

#soon {
    position: relative;
    overflow: hidden;
}

#soon img {
    border-color: transparent;

    bottom: -.25rem;

    position: absolute;
}

/* Skills Page */
#skills-page {
    width: 100%;
    height: 40rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#skills-page>div {
    border-bottom: solid var(--brd-w) var(--brd-clr);

    height: 37rem;
}

#skills-page .container>p {
    position: absolute;
    top: 0;
}

.card {
    background-color: var(--crd-bc);
    border: solid var(--brd-w) var(--brd-clr);
    border-radius: var(--brd-r);
    overflow: hidden;

    width: var(--card-w);
    height: var(--card-h);

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: filter 0.2s ease;
}

.card:not(.active):not(.extra-active) .card-content {
    filter: blur(0px);
}

.card.active .card-content {
    filter: blur(0px);
}

.card.extra-active .card-content {
    filter: blur(0);
}

.card-title {
    border-bottom: solid var(--brd-w) var(--brd-clr);
    width: var(--card-i);
    margin-top: 1rem;
    padding-bottom: 0.625rem;
    gap: 0.375rem;
    display: flex;
}

.percent {
    position: absolute;
    top: 2rem;
    right: 12%;
}

.card.extra-active {
    z-index: 30;
}

/* Why Page */
#why-hero {
    display: flex;
    flex-direction: column;
}

#why-hero p {
    text-align: start;
}

#why-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 1rem;
}

.why-text>p:nth-child(1) {
    text-align: start;
    height: 5rem;

    align-content: center;
    display: relative;
}

.why-text>p:nth-child(2) {
    text-align: start;
}

/* Footer Section */
footer {
    border: solid var(--brd-w) var(--brd-clr);
    background-color: var(--fbc);

    width: 99.5%;
    padding: 1.2rem 0;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#social-icons {
    gap: 0 5rem;

    display: flex;
}

.bicon-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bicon {
    background-color: var(--fbc);
    border: solid var(--brd-w) var(--brd-clr);
    border-radius: var(--brd-r);

    width: 3.125rem;
    height: 3.125rem;
    display: flex;
}

#social-icons .text-preset-3 {
    position: relative;
    color: var(--tc-1);
    text-decoration: none;
    transition: 0.3s;
}

#social-icons .bicon-wrap:hover .text-preset-3 {
    color: var(--tc-1);
}

#social-icons .text-preset-3:after {
    background-color: var(--tc-1);
    content: "";
    transition: 0.3s;

    height: var(--brd-w);
    width: 0;

    position: absolute;
    left: 0;
    bottom: 0;
}

#social-icons .bicon-wrap:hover .text-preset-3:after {
    width: 100%;
}