:root {
   /* Font Weight */
   --ff-1: 'Roboto Mono', system-ui;
   --ff-2: 'Nunito', sans-serif;

   /* Font Size */
   --fs-0: 0.9rem;
   --fs-1: 1rem;
   --fs-2: 1.125rem;
   --fs-3: 1.625rem;
   --fs-4: 4rem;

   /* Font Weight */
   --fw-1: 400;
   --fw-2: 600;
   --fw-3: 700;

   /* Background Color */
   --bc-1: #2c497f;
   --crd-bc: #6b80a5;
   --fbc: #498fbb;

   /* Text Color */
   --tc-1: #000000;
   --tc-2: #cfc7c7;
   --tc-3: #4bc2b7;
   --tc-4: #a89d8c;
   --tc-5: rgba(255, 255, 255, 0.3);

   /* Card loading colors */
   --card-lc-1: #3944bc;
   --card-lc-2: #25b2cf;

   /* Frame Styling */
   --brd-clr: #000000;
   --brd-r: 1.25rem;
   --brd-w: 0.125rem;

   --wd-w: 22.5rem;
   --wd-h: 13.125rem;

   /* Work Image Frames Desktop */
   --wifd-w: 17rem;
   --wifd-h: 12.25rem;

   /* Link duration */
   --link-duration: 400ms;
}
