:root {
    /* Font Weight */
    --ff-1: "Just Another Hand", system-ui;
    --ff-2: "Roboto Mono", system-ui;

    /* Font Size */
    --fs-1: 1rem;
    --fs-2: 1.125rem;
    --fs-3: 1.625rem;
    --fs-4: 4.5rem;

    /* Font Weight */
    --fw-1: 400;
    --fw-2: 600;
    --fw-3: 700;

    /* Background Color */
    --bc-1: #A89D8C;
    --crd-bc: #F3EAEA;
    --fbc-3: #263238;

    /* Text Color */
    --tc-1: #000000;

    /* Frame Styling */
    --brd-clr: #000000;
    --brd-r: 1.25rem;
    --brd-w: 0.125rem;

    --wi-w: 22.5rem;
    --wi-h: 23.75rem;

    --wd-w: 22.5rem;
    --wd-h: 13.125rem;

    --card-w: 16.25rem;
    --card-h: 31.25rem;
    --card-i: 13.75rem;
}