/* Work Number One */
#acme-desktop-one {
   transform: rotate(-20deg);

   width: 17rem;

   left: 0.75rem;
   top: 0.625rem;

   position: absolute;
   z-index: 5;
}

#acme-desktop-two {
   transform: rotate(-10deg);

   width: 17rem;
   aspect-ratio: 1/1;

   left: 3.125rem;
   top: 3.125rem;

   position: absolute;
   z-index: 4;
}

#acme-desktop-three {
   transform: rotate(10deg);

   width: 17rem;
   aspect-ratio: 1 / 1;

   left: 0rem;
   top: 12.5rem;

   position: absolute;
   z-index: 3;
}

#acme-mobile-one {
   transform: rotate(25deg);

   width: var(--wifm-w);
   height: var(--wifm-h);
   left: 15.625rem;
   top: 10rem;

   position: absolute;
   z-index: 5;
}

/* Work Number Two */
#menu-photo-one {
   transform: rotate(-15deg);

   left: 0rem;
   top: 1.875rem;

   position: absolute;
   z-index: 5;
}

#menu-photo-two {
   transform: rotate(-5deg);

   left: 0rem;
   top: 11.25rem;

   position: absolute;
   z-index: 4;
}

/* Work Number Three */
#form-photo-one {
   transform: rotate(-20deg);

   left: -1.875rem;
   top: 0.625rem;

   position: absolute;
   z-index: 5;
}

#form-photo-two {
   transform: rotate(-10deg);

   left: 0rem;
   top: 10rem;

   position: absolute;
   z-index: 4;
}

/* Work Number Four */
#memory-desktop-one {
   transform: rotate(-20deg);

   width: 17rem;
   aspect-ratio: 1/1;

   left: 0.75rem;
   top: 0.625rem;

   position: absolute;
   z-index: 5;
}

#memory-desktop-two {
   transform: rotate(10deg);

   width: 17rem;
   aspect-ratio: 1/1;

   left: 4.125rem;
   top: 6.125rem;

   position: absolute;
   z-index: 4;
}

#memory-mobile-one {
   transform: rotate(-20deg);

   width: 7rem;
   aspect-ratio: 1/1;

   right: 10.625rem;
   top: 12rem;

   position: absolute;
   z-index: 5;
}

#memory-mobile-two {
   transform: rotate(20deg);

   width: 7rem;
   aspect-ratio: 1/1;

   right: 5.625rem;
   top: 12rem;

   position: absolute;
   z-index: 4;
}

/* Work Number Five */
#tg-photo-one {
   transform: rotate(-20deg);

   width: 17rem;

   left: 0.45rem;
   top: 2.25rem;

   position: absolute;
   z-index: 5;
}

#tg-photo-two {
   transform: rotate(-10deg);

   width: 17rem;

   left: 1.125rem;
   top: 9.125rem;

   position: absolute;
   z-index: 4;
}

#tgs-photo-one {
   transform: rotate(25deg);

   width: var(--wifm-w);
   height: var(--wifm-h);
   left: 15.625rem;
   top: 10.5rem;

   position: absolute;
   z-index: 5;
}

#tgs-photo-two {
   transform: rotate(10deg);

   width: var(--wifm-w);
   height: var(--wifm-h);
   left: 11.625rem;
   top: 10.5rem;

   position: absolute;
   z-index: 5;
}
