.work-image {
    filter: drop-shadow(0rem .5rem .15rem rgba(0, 0, 0, .25));
}

/* Work Number One */
#acme-desktop-one {
    transform: rotate(-20deg);

    width: var(--wifd-w);
    height: var(--wifd-h);
    left: -0.75rem;
    top: 0.625rem;

    position: absolute;
    z-index: 5;
}

#acme-desktop-two {
    transform: rotate(-10deg);

    width: var(--wifd-w);
    height: var(--wifd-h);
    left: 3.125rem;
    top: 3.125rem;

    position: absolute;
    z-index: 4;
}

#acme-desktop-three {
    transform: rotate(10deg);

    width: var(--wifd-w);
    height: var(--wifd-h);
    left: 0rem;
    top: 12.5rem;

    position: absolute;
    z-index: 3;
}

#acme-mobile-one {
    transform: rotate(25deg);

    width: var(--wifm-w);
    height: var(--wifm-h);
    left: 15.625rem;
    top: 10rem;

    position: absolute;
    z-index: 5;
}

/* Work Number Two */
#menu-photo-one {
    transform: rotate(-15deg);

    left: 0rem;
    top: 1.875rem;

    position: absolute;
    z-index: 5;
}

#menu-photo-two {
    transform: rotate(-5deg);

    left: 0rem;
    top: 11.25rem;

    position: absolute;
    z-index: 4;
}

/* Work Number Three */
#form-photo-one {
    transform: rotate(-20deg);

    left: -1.875rem;
    top: 0.625rem;

    position: absolute;
    z-index: 5;
}

#form-photo-two {
    transform: rotate(-10deg);

    left: 0rem;
    top: 10rem;

    position: absolute;
    z-index: 4;
}